In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime, date, timedelta

In [3]:
data = pd.read_csv('movie_bd_v5.csv')

data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [6]:
# Удалим столбцы, которые не требуются для выполнения заданий. 
# Добавим столбец profit - прибыль от фильма 

data = pd.read_csv('movie_bd_v5.csv')
data.drop(['tagline'], axis = 1, inplace = True)
data['profit'] = data['revenue'] - data['budget']
data.head()

,imdb_id,budget,revenue,original_title,cast,director,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

In [7]:
#  изменение строкового формата времени на формат datetime

data['release_date'] = pd.to_datetime(data['release_date']) 
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [8]:
answers = {} # создадим словарь для ответов

# 1. У какого фильма из списка самый большой бюджет?

In [9]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides(tt1298650)' #"+"

In [10]:
# Фильтруем df по колонке budget

data[data.budget == data.budget.max()].iloc[0][:]

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                          2011-05-11 00:00:00
vote_average                                                          6.3
release_year                                                         2011
profit                                                          641683000
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
answers['2'] = '2. Gods and Generals (tt0279111)' #"+"

In [12]:
# Фильтруем df по колонке runtime

data[data.runtime == data.runtime.max()].iloc[0][:]

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                          2003-02-21 00:00:00
vote_average                                                          5.8
release_year                                                         2003
profit                                                          -43076064
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #"+"

In [14]:
data[data.runtime == data.runtime.min()].iloc[0][:]

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                          2011-04-13 00:00:00
vote_average                                                          6.8
release_year                                                         2011
profit                                                          -15540000
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '2. 110' #"+"

In [16]:
round(data.runtime.mean(), 0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '1. 107' #"+"

In [18]:
round(data.runtime.median(), 0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = '5. Avatar (tt0499549)' #"+"

In [20]:
# Фильтруем df по ранее добавленной колонке с прибылью profit

data[data.profit == data.profit.max()].iloc[0][:]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                          2009-12-10 00:00:00
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #"+"

In [22]:
data[data.profit == data.profit.min()].iloc[0][:]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                          2013-07-03 00:00:00
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1. 1478' #"+"

In [24]:
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)' #"+"

In [26]:
data[(data.release_year == 2008) & (data.revenue == data.revenue[data.release_year == 2008].max()) ].iloc[0]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                          2008-07-16 00:00:00
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #"+"

In [28]:
data_min = data[(data.release_year >= 2012) & (data.release_year <= 2014)] 
data_min[data_min.profit == data_min.profit.min()].iloc[0]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                          2013-07-03 00:00:00
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [29]:
answers['11'] = '3. Drama'  #"+"

In [30]:
# решение с помощью метода explode

genres = data['genres'].str.split('|')
genres_count = genres.explode()
genres_count.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [31]:
# с помощью генератора списка и библиотеки collections

a = data['genres'].str.split('|')
b=[j for x in a for j in x]
import collections
c = collections.Counter()
for x in b:
    c[x]+=1
c.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = '1. Drama'  #"+"

In [33]:
# с помощью split преобразуем строки с жанрами в список с жанрами и "взрываем", чтобы извлекать жанры по одному из списка

genres2 = data[data.profit > 0].genres.str.split('|').explode()
genres2.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
answers['13'] = '5. Peter Jackson'  #"+"

In [35]:
# Используем функцию groupby для группировки по режиссерам 

data.groupby(by = 'director')['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = '3. Robert Rodriguez'  #"+"

In [37]:
# испольем метод str.contains для перебора по строкам 

action = data[data.genres.str.contains('Action')].director.str.split('|').explode()
action.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Jay Russell           1
Michel Gondry         1
Chris Gorak           1
Joe Russo             1
Christian Alvart      1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth'  #"+"

In [39]:
data2 = data[data['release_year'] == 2012].copy() # Фильтруем по условию 
data2['actors'] = data2.cast.str.split('|') # Добавляем столбец с преобразованными в список ячейками 
data3 = data2[['revenue','actors']].explode('actors') # "взрываем" сразу два столбца 
data3.groupby(by = 'actors')['revenue'].sum().sort_values(ascending=False) # группируем новый df по актерам и суммируем сборы

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3. Matt Damon'  #"+"

In [41]:
# решение аналогично предыдущему заданию 

data4 = data[data['budget'] >  data['budget'].mean()].copy()
data4['actors'] = data4.cast.str.split('|')
data5 = data4[['budget','actors']].explode('actors')
data5.groupby(by = 'actors')['budget'].count().sort_values(ascending=False)

actors
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'  #"+"

In [43]:
nic = data[data.cast.str.contains('Nicolas Cage')]
nic.genres.str.split('|').explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #"+"

In [45]:

data[data.production_companies.str.contains('Paramount Pictures')]['profit'].sort_values()
data.iloc[925]

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                          2002-07-19 00:00:00
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'  #"+"

In [47]:
data.groupby(by = 'release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'  #"+"

In [49]:
Warner = data[data.production_companies.str.contains('Warner Bros')]
Warner.groupby(by = 'release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'  #"+"

In [51]:
# использем datetime

data['release_month'] = data['release_date'].dt.month
import collections
c = collections.Counter()
for x in data['release_month']:
    c[x]+=1
c.most_common()

[(9, 227),
 (12, 190),
 (10, 186),
 (8, 161),
 (3, 156),
 (4, 149),
 (6, 147),
 (11, 146),
 (7, 142),
 (5, 140),
 (2, 135),
 (1, 110)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'  #"+"

In [53]:
summer = len(data[(data['release_month'] >= 6) & (data['release_month'] < 9)]) 
summer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'  #"+"

In [55]:
data['director'] = data['director'].apply(lambda x: x.split('|')) 
winter = data[data['release_month'].isin([12, 1, 2])]
pd.Series(winter['director'].sum()).value_counts().sort_values(ascending=False)

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Adam Shankman         4
Martin Scorsese       4
                     ..
Michael Sucsy         1
Sean Anders           1
Evan Goldberg         1
Chris Gorak           1
Sam Taylor-Johnson    1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions' #"+"

In [57]:
data['len_title']= data.original_title.str.len() # добавляем к датафрему столбец с длинами названий
data['companies'] = data['production_companies'].str.split('|') # добавляем столбец с преобразованными в списки студиями 
data7 = data[['companies','len_title']].explode('companies') # "взрываем"
data7.groupby(by = 'companies')['len_title'].mean().sort_values(ascending=False) # и группируем по условию

companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3. Midnight Picture Show' #"+"

In [59]:
data['len_overview']= data.overview.map(lambda x: len(x.split(' '))) # добавляем к датафрему столбец с длинами описаний 
data['companies'] = data['production_companies'].str.split('|')
data7 = data[['companies','len_overview']].explode('companies')
data7.groupby(by = 'companies')['len_overview'].mean().sort_values(ascending=False)

companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #"+"

In [61]:
# Используем метод quantile. Сортируем df так, чтобы все значения рейтинга были выше значения квантиля

best_movies = data[data['vote_average'] > data['vote_average'].quantile(0.99)]['original_title'] 
best_movies

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint' #"+"

In [63]:
# используем функцию itertools для комбинации по двум неповторяющимся признакам в списке 

from itertools import combinations

data['cast'] = data['cast'].apply(lambda x: x.split('|'))
cast_couples_list = (data['cast'].map(lambda x: list(combinations(x, 2)))).sum() 
cast_couples = pd.Series(cast_couples_list)
cast_couples.value_counts(ascending=False)

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Amber Tamblyn, Blake Lively)          1
(James Franco, Frances McDormand)      1
(David Morrissey, Stan Collymore)      1
(John Goodman, Penelope Ann Miller)    1
(Robert Hoffman, Cassie Ventura)       1
Length: 18121, dtype: int64

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [65]:

len(answers)

27